body {
  font-size: 4vh;
}

button, select {
  font-size: 4vh;
}

#statusMessage {
  font-weight: bold;
  font-size: 5vh;
}

.stage {
  display: none;
}

body[stage="detect"] .stage-detect,
body[stage="scan"] .stage-scan,
body[stage="backup"] .stage-backup {
  display: block;
}

#video {
  height: 40vh;
  margin: auto;
}
@media (orientation: landscape) {
  #video {
    height: 25vh;
  }
  #video.no-camera-list {
    height: 50vh;
  }
}

#backupButton {
  display: none;
}

#qrText {
  overflow: hidden;
}

#qrBackup canvas,
#qrBackup img {
  width: 100%;
  max-height: 60vh;
  max-width: 60vh;
  margin: auto;
}

.margin-below {
  margin-bottom: 4vh;
}

.center-contents {
  width: 100%;
  text-align: center;
}

@media print {
  .no-print {
    display: none;
  }
}
